body {
    font-family: Arial, sans-serif;
    margin: 30px 80px;
}

h2 {
    margin-bottom: 10px;
}

.form-area input,
.form-area select {
    width: 250px;
    padding: 6px;
    margin-right: 10px;
    border: 1px solid #888;
}

textarea {
    width: 515px;
    padding: 6px;
    border: 1px solid #888;
}

button {
    padding: 6px 15px;
    border: 1px solid #555;
    background: #eee;
}

/* Bảng sinh viên */
.sv-table {
    border-collapse: collapse;
    width: 600px;
}

.sv-table th,
.sv-table td {
    border: 1px solid #000;
    padding: 8px;
}

.sv-table th {
    background: #f0f0f0;
}

.group {
    text-align: left;
    font-weight: bold;
}
